.delivery_status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.bi {
    font-size: 20px;
}

.text_client_name {
    margin: 0;
}
.orders_list {
    flex-direction: column;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.confirmed {
    color: white;
}

.block_button{
    display: flex;
    justify-content: space-around;
}
.button {
    width: 50px;
    height: 30px;
    margin: 10px;
}

.delivery{
    color: #1a1d20;
}

.received{
    color: burlywood;
}

.new {
    color: black;
    animation: vibrate 0.9s infinite;
    z-index: -1;
}

.orders_item {
    word-break: break-all;
}

.client {
    display: flex;
    justify-content: space-between;
}

.checkout_user_name {
    display: flex;
    align-items: center;
}

.list-group-item {
    padding: 7px;
}

@keyframes vibrate {
    0% {
        transform: translateX(-1px) translateY(-1px); /* Начальное смещение */
    }
    25% {
        transform: translateX(1px) translateY(1px); /* Первый этап вибрации */
    }
    50% {
        transform: translateX(-1px) translateY(-1px); /* Второй этап вибрации */
    }
    75% {
        transform: translateX(1px) translateY(1px); /* Третий этап вибрации */
    }
    100% {
        transform: translateX(-1px) translateY(-1px); /* Финальное смещение */
    }
}

/*animation22: burn 2s ease-in-out infinite; !* Продолжительность анимации и повторение *!*/
@keyframes burn {
    0% {
        color: red;
        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red; /* Тень текста для эффекта горения */
    }
    50% {
        color: orange;
        text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange; /* Изменение цвета и тени */
    }
    100% {
        color: red;
        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red; /* Возвращение к изначальному состоянию */
    }
}
