.item {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    /*border-top-style: solid;*/
    /*border-width: 1px;*/
}

.item:first-child {
    margin-top: 80px;
}

.item:last-child {

}

.list {
    min-width: 100vw;
    height: 100vh;
    margin: 0;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
