.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #242424;
    padding: 2px;

}

.block_left {
    margin: 5px;
    padding: 0;

}

.store {
    margin: 0;
}

.intensive {
    margin: 0;
}

.block_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
