.header {

}

.nav_link {
    color: white;
    font-size: 24px;
}

.active {
    color: #535bf2;
    cursor: default;
}
.canvas_link{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.canvas_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.navbar {
    padding: 0px;
    margin: 10px;
    border-radius: 10px;
}

.block_left {
    margin-right: 10px;
}

.store {
    margin: 0;
}

.intensive {
    margin: 0;
}

.block_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2px;
    padding: 3px;
}

