.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #242424;
    padding: 2px;
}


.block_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
